h1 {
	font-family: monospace;
	color: rgb(220,220,220);
}

a:link {
	font-family: monospace;
	text-decoration: none;
	color: rgb(220,220,220);
}

a:visited {
	color: rgb(220,220,220);
}

a:hover {
	color: lightgreen;
	text-decoration: underline;
}

a:active {
	color: hotpink;
}

body {
	background-color: rgb(105,105,105);
}